@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*COLORS*/

  :root {
    /*********** PRIMTIVE COLORS ***************/
    /* WHITE */

    --_white: #ffffff;
    --_alpha-white-0: #ffffff00;
    --_alpha-white-3: #ffffff07;
    --_alpha-white-5: #ffffff0c;
    --_alpha-white-6: #ffffff0f;
    --_alpha-white-8: #ffffff14;
    --_alpha-white-10: #ffffff19;
    --_alpha-white-14: #ffffff23;
    --_alpha-white-18: #ffffff2d;
    --_alpha-white-20: #ffffff33;
    --_alpha-white-30: #ffffff4c;
    --_alpha-white-40: #ffffff66;
    --_alpha-white-50: #ffffff7f;
    --_alpha-white-60: #ffffff99;
    --_alpha-white-70: #ffffffb2;
    --_alpha-white-80: #ffffffcc;
    --_alpha-white-90: #ffffffe5;
    --_alpha-white-100: var(--_white);

    /* BLACK */
    --_black: #000000;
    --_alpha-black-0: #00000000;
    --_alpha-black-5: #0000000c;
    --_alpha-black-10: #00000019;
    --_alpha-black-20: #00000033;
    --_alpha-black-30: #0000004c;
    --_alpha-black-40: #00000066;
    --_alpha-black-50: #0000007f;
    --_alpha-black-60: #00000099;
    --_alpha-black-70: #000000b2;
    --_alpha-black-80: #000000cc;
    --_alpha-black-90: #000000e5;
    --_alpha-black-100: var(--_black);

    /** Grey */
    --_grey-25: #fcfcfd;
    --_grey-50: #f8fafc;
    --_grey-100: #eef2f6;
    --_grey-200: #e3e8ef;
    --_grey-300: #cdd5df;
    --_grey-400: #9aa4b2;
    --_grey-500-primary: #697586;
    --_grey-600: #2f3845;
    --_grey-700: #212a37;
    --_grey-800: #161e2b;
    --_grey-900: #121926;
    --_grey-950: #0d121c;

    --_alpha-grey-0: #0d121c00;
    --_alpha-grey-3: #0d121c07;
    --_alpha-grey-5: #0d121c0c;
    --_alpha-grey-6: #0d121c0f;
    --_alpha-grey-8: #0d121c14;
    --_alpha-grey-10: #0d121c19;
    --_alpha-grey-14: #0d121c23;
    --_alpha-grey-18: #0d121c2d;
    --_alpha-grey-20: #0d121c33;
    --_alpha-grey-30: #0d121c4c;
    --_alpha-grey-40: #0d121c66;
    --_alpha-grey-50: #0d121c7f;
    --_alpha-grey-60: #0d121c99;
    --_alpha-grey-70: #0d121cb2;
    --_alpha-grey-80: #0d121ccc;
    --_alpha-grey-90: #0d121ce5;
    --_alpha-grey-100: var(--_grey-950);

    /* SECONDARY */
    --_secondary-green-500: #16b364;
    --_secondary-orange-500: #ef6820;
    --_secondary-pink-500: #ee46bc;
    --_secondary-yellow-500: #eaaa08;
    --_secondary-blue-500: #2e90fa;

    /* BRIGHTORANGE */
    --_brand-brightorange-25: #fffcf7;
    --_brand-brightorange-50: #fff7ea;
    --_brand-brightorange-100: #ffedd0;
    --_brand-brightorange-200: #ffd89c;
    --_brand-brightorange-300: #ffc168;
    --_brand-brightorange-400: #ffa934;
    --_brand-brightorange-500-primary: #ff9000;
    --_brand-brightorange-600: #d77d00;
    --_brand-brightorange-700: #b06800;
    --_brand-brightorange-800: #885300;
    --_brand-brightorange-900: #603c00;
    --_brand-brightorange-950: #4d3000;

    /* CRYSTALIZEDVIOLET */
    --_brand-crystalizedviolet-25: #fdf7ff;
    --_brand-crystalizedviolet-50: #f8eaff;
    --_brand-crystalizedviolet-100: #f0d0ff;
    --_brand-crystalizedviolet-200: #de9dff;
    --_brand-crystalizedviolet-300: #ca75ff;
    --_brand-crystalizedviolet-400: #b654fc;
    --_brand-crystalizedviolet-500-primary: #a03ae9;
    --_brand-crystalizedviolet-600: #8e21db;
    --_brand-crystalizedviolet-700: #7a0ebb;
    --_brand-crystalizedviolet-800: #660099;
    --_brand-crystalizedviolet-900: #510077;
    --_brand-crystalizedviolet-950: #460066;

    --_alpha-crystalizedviolet-0: #ac00ff00;
    --_alpha-crystalizedviolet-3: #ac00ff07;
    --_alpha-crystalizedviolet-5: #ac00ff0c;
    --_alpha-crystalizedviolet-6: #ac00ff0f;
    --_alpha-crystalizedviolet-8: #ac00ff14;
    --_alpha-crystalizedviolet-10: #ac00ff19;
    --_alpha-crystalizedviolet-14: #ac00ff23;
    --_alpha-crystalizedviolet-18: #ac00ff2d;
    --_alpha-crystalizedviolet-20: #ac00ff33;
    --_alpha-crystalizedviolet-30: #ac00ff4c;
    --_alpha-crystalizedviolet-40: #ac00ff66;
    --_alpha-crystalizedviolet-50: #ac00ff7f;
    --_alpha-crystalizedviolet-60: #ac00ff99;
    --_alpha-crystalizedviolet-70: #ac00ffb2;
    --_alpha-crystalizedviolet-80: #ac00ffcc;
    --_alpha-crystalizedviolet-90: #ac00ffe5;
    --_alpha-crystalizedviolet-100: var(--_brand-crystalizedviolet-500-primary);

    /* ELECTRICROYALBLUE */
    --_brand-electricroyalblue-25: #f7f7ff;
    --_brand-electricroyalblue-50: #eaeaff;
    --_brand-electricroyalblue-100: #d0d0ff;
    --_brand-electricroyalblue-200: #9c9cff;
    --_brand-electricroyalblue-300: #6868f8;
    --_brand-electricroyalblue-400: #3434e6;
    --_brand-electricroyalblue-500-primary: #0b0ccb;
    --_brand-electricroyalblue-600: #0000bd;
    --_brand-electricroyalblue-700: #0000a9;
    --_brand-electricroyalblue-800: #000088;
    --_brand-electricroyalblue-900: #000060;
    --_brand-electricroyalblue-950: #00004d;

    /* CYAN */
    --_brand-cyan-25: #f7ffff;
    --_brand-cyan-50: #eaffff;
    --_brand-cyan-100: #d0ffff;
    --_brand-cyan-200: #9cffff;
    --_brand-cyan-300: #68ffff;
    --_brand-cyan-400: #34ffff;
    --_brand-cyan-500-primary: #00ffff;
    --_brand-cyan-600: #00d7d7;
    --_brand-cyan-700: #00b0b0;
    --_brand-cyan-800: #008888;
    --_brand-cyan-900: #006060;
    --_brand-cyan-950: #004d4d;

    /* ERROR */
    --_error-25: #fffbfa;
    --_error-50: #fef3f2;
    --_error-100: #fee4e2;
    --_error-200: #fecdca;
    --_error-300: #fda29b;
    --_error-400: #f97066;
    --_error-500-primary: #f04438;
    --_error-600: #d92d20;
    --_error-700: #b42318;
    --_error-800: #912018;
    --_error-900: #7a271a;
    --_error-950: #55160c;

    --_alpha-error-0: #f0443800;
    --_alpha-error-3: #f0443807;
    --_alpha-error-5: #f044380c;
    --_alpha-error-6: #f044380f;
    --_alpha-error-8: #f0443814;
    --_alpha-error-10: #f0443819;
    --_alpha-error-14: #f0443823;
    --_alpha-error-18: #f044382d;
    --_alpha-error-20: #f0443833;
    --_alpha-error-30: #f044384c;
    --_alpha-error-40: #f0443866;
    --_alpha-error-50: #f044387f;
    --_alpha-error-60: #f0443899;
    --_alpha-error-70: #f04438b2;
    --_alpha-error-80: #f04438cc;
    --_alpha-error-90: #f04438e5;
    --_alpha-error-100: var(--_error-500-primary);

    /* WARNING */
    --_warning-25: #fffcf5;
    --_warning-50: #fffaeb;
    --_warning-100: #fef0c7;
    --_warning-200: #fedf89;
    --_warning-300: #fec84b;
    --_warning-400: #fdb022;
    --_warning-500-primary: #f79009;
    --_warning-600: #dc6803;
    --_warning-700: #b54708;
    --_warning-800: #93370d;
    --_warning-900: #7a2e0e;
    --_warning-950: #4e1d09;

    /* SUCCESS */
    --_success-25: #f6fef9;
    --_success-50: #ecfdf3;
    --_success-100: #dcfae6;
    --_success-200: #abefc6;
    --_success-300: #75e0a7;
    --_success-400: #47cd89;
    --_success-500-primary: #17b26a;
    --_success-600: #079455;
    --_success-700: #067647;
    --_success-800: #085d3a;
    --_success-900: #074d31;
    --_success-950: #053321;

    /*********** EFFECT ***************/
    --effects-blur-xs: 2px;
    --effects-blur-sm_1: 3px;
    --effects-blur-sm_2: 2px;
    --effects-blur-md_1: 8px;
    --effects-blur-md_2: 4px;
    --effects-blur-lg_1: 16px;
    --effects-blur-lg_2: 6px;
    --effects-blur-xl_1: 24px;
    --effects-blur-xl_2: 8px;

    /*********** SIZES **********/
    --_sizes-0: 0;
    --_sizes-0-5: 0.125rem; /** 2px **/
    --_sizes-1: 0.25rem; /** 4px **/
    --_sizes-1-5: 0.375rem; /** 6px **/
    --_sizes-2: 0.5rem; /** 8px **/
    --_sizes-2-5: 0.625rem; /** 10px **/
    --_sizes-3: 0.75rem; /** 12px **/
    --_sizes-3-5: 0.875rem; /** 14px **/
    --_sizes-4: 1rem; /** 16px **/
    --_sizes-5: 1.25rem; /** 20px **/
    --_sizes-6: 1.5rem; /** 24px **/
    --_sizes-8: 2rem; /** 32px **/
    --_sizes-10: 2.5rem; /** 40px **/
    --_sizes-12: 3rem; /** 48px **/
    --_sizes-16: 4rem; /** 64px **/
    --_sizes-20: 5rem; /** 80px **/
    --_sizes-24: 6rem; /** 96px **/
    --_sizes-32: 8rem; /** 128px **/
    --_sizes-40: 10rem; /** 160px **/
    --_sizes-48: 12rem; /** 192px **/
    --_sizes-56: 14rem; /** 224px **/
    --_sizes-64: 16rem; /** 256px **/
    --_sizes-80: 20rem; /** 320px **/
    --_sizes-96: 24rem; /** 384px **/
    --_sizes-120: 30rem; /** 480px **/
    --_sizes-140: 35rem; /** 560px **/
    --_sizes-160: 40rem; /** 640px **/
    --_sizes-180: 45rem; /** 720px **/
    --_sizes-192: 48rem; /** 768px **/
    --_sizes-256: 64rem; /** 1024px **/
    --_sizes-320: 80rem; /** 1280px **/
    --_sizes-360: 90rem; /** 1440px **/
    --_sizes-400: 100rem; /** 1600px **/
    --_sizes-480: 120rem; /** 1920px **/

    --spacing-none: var(--_sizes-0);
    --spacing-xxs: var(--_sizes-0-5);
    --spacing-xs: var(--_sizes-1);
    --spacing-sm: var(--_sizes-1-5);
    --spacing-md: var(--_sizes-2);
    --spacing-2md: var(--_sizes-2-5);
    --spacing-lg: var(--_sizes-3);
    --spacing-2lg: var(--_sizes-3-5);
    --spacing-xl: var(--_sizes-4);
    --spacing-2xl: var(--_sizes-5);
    --spacing-3xl: var(--_sizes-6);
    --spacing-4xl: var(--_sizes-8);
    --spacing-5xl: var(--_sizes-10);
    --spacing-6xl: var(--_sizes-12);
    --spacing-7xl: var(--_sizes-16);
    --spacing-8xl: var(--_sizes-20);
    --spacing-9xl: var(--_sizes-24);
    --spacing-10xl: var(--_sizes-32);
    --spacing-11xl: var(--_sizes-40);

    --widths-xxs: var(--_sizes-48);
    --widths-xs: var(--_sizes-56);
    --widths-sm: var(--_sizes-64);
    --widths-md: var(--_sizes-80);
    --widths-lg: var(--_sizes-96);
    --widths-xl: var(--_sizes-120);
    --widths-2xl: var(--_sizes-140);
    --widths-3xl: var(--_sizes-160);
    --widths-4xl: var(--_sizes-192);
    --widths-5xl: var(--_sizes-256);
    --widths-6xl: var(--_sizes-320);
    --widths-7xl: var(--_sizes-360);
    --widths-8xl: var(--_sizes-400);
    --widths-9xl: var(--_sizes-480);

    --radius-none: var(--_sizes-0);
    --radius-xxs: var(--_sizes-0-5);
    --radius-xs: var(--_sizes-1);
    --radius-sm: var(--_sizes-1-5);
    --radius-md: var(--_sizes-2);
    --radius-lg: var(--_sizes-2-5);
    --radius-xl: var(--_sizes-3);
    --radius-2xl: var(--_sizes-4);
    --radius-3xl: var(--_sizes-5);
    --radius-4xl: var(--_sizes-6);
    --radius-full: 999px;

    /* SHADCN ROOT */

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --stack-background: rgba(255, 255, 255, 0.02);

    /* SHADCN MAPPING */

    --shadcn-background: hsl(var(--background));
    --shadcn-foreground: hsl(var(--foreground));
    --shadcn-card: hsl(var(--card));
    --shadcn-card-foreground: hsl(var(--card-foreground));
    --shadcn-popover: hsl(var(--popover));
    --shadcn-popover-foreground: hsl(var(--popover-foreground));
    --shadcn-primary: hsl(var(--primary));
    --shadcn-primary-foreground: hsl(var(--primary-foreground));
    --shadcn-secondary: hsl(var(--secondary));
    --shadcn-secondary-foreground: hsl(var(--secondary-foreground));
    --shadcn-muted: hsl(var(--muted));
    --shadcn-muted-foreground: hsl(var(--muted-foreground));
    --shadcn-accent: hsl(var(--accent));
    --shadcn-accent-foreground: hsl(var(--accent-foreground));
    --shadcn-destructive: hsl(var(--destructive));
    --shadcn-destructive-foreground: hsl(var(--destructive-foreground));
    --shadcn-border: hsl(var(--border));
    --shadcn-input: hsl(var(--input));
    --shadcn-ring: hsl(var(--ring));
    --shadcn-chart-1: hsl(var(--chart-1));
    --shadcn-chart-2: hsl(var(--chart-2));
    --shadcn-chart-3: hsl(var(--chart-3));
    --shadcn-chart-4: hsl(var(--chart-4));
    --shadcn-chart-5: hsl(var(--chart-5));
    --shadcn-sidebar-background: hsl(var(--sidebar-background));
    --shadcn-sidebar-foreground: hsl(var(--sidebar-foreground));
    --shadcn-sidebar-primary: hsl(var(--sidebar-primary));
    --shadcn-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
    --shadcn-sidebar-accent: hsl(var(--sidebar-accent));
    --shadcn-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
    --shadcn-sidebar-border: hsl(var(--sidebar-border));
    --shadcn-sidebar-ring: hsl(var(--sidebar-ring));
    --shadcn-custom-stacking: rgba(255, 255, 255, 0.02);
    --shadcn-custom-stacking-hover: rgba(255, 255, 255, 0.07);

    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem; 
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    */
  }

  :root.dark {
    /** DARK MODE **/

    /* TYPOGRAPHY */
    --typography-primary: var(--shadcn-foreground);
    --typography-primary_on-brand: var(--shadcn-foreground);
    --typography-primary_on-solid: var(--shadcn-foreground);
    --typography-secondary: var(--shadcn-muted-foreground);
    --typography-secondary_hover: var(--shadcn-muted-foreground);
    --typography-tertiary: var(--shadcn-muted-foreground);
    --typography-tertiary_hover: var(--shadcn-muted-foreground);
    --typography-quaternary: var(--shadcn-muted-foreground);
    --typography-white: var(--_white);
    --typography-black: var(--_black);
    --typography-disabled: var(--shadcn-muted-foreground);
    --typography-placeholder: var(--_grey-400);
    --typography-error: var(--_error-400);
    --typography-brand-primary: var(--_grey-50);
    --typography-error_hover: var(--_error-300);
    --typography-warning: var(--_warning-400);
    --typography-brand-secondary: var(--_grey-300);
    --typography-brand-secondary_alt: var(--_brand-crystalizedviolet-300);
    --typography-brand-secondary_alt_hover: var(--_brand-crystalizedviolet-200);
    --typography-brand-tertiary: var(--_grey-400);
    --typography-success: var(--_success-400);

    /* BORDER */
    --border-primary: var(--shadcn-border);
    --border-primary_hover: var(--shadcn-border);
    --border-primary_alt: var(--shadcn-border);
    --border-secondary: var(--shadcn-border);
    --border-tertiary: var(--shadcn-border);
    --border-disabled: var(--shadcn-border);

    --border-active: var(--_brand-crystalizedviolet-400);
    --border-brand-primary: var(--_brand-crystalizedviolet-400);
    --border-brand-secondary: var(--_brand-crystalizedviolet-800);
    --border-error-primary: var(--_error-400);
    --border-error-secondary: var(--_error-400);
    --border-error-secondary_hover: var(--_error-500-primary);
    --border-warning-primary: var(--_warning-400);
    --border-warning-secondary: var(--_warning-400);
    --border-success-primary: var(--_success-400);
    --border-success-secondary: var(--_success-400);

    /* Chart */
    --chart-primary: var(--_brand-crystalizedviolet-950);
    --chart-secondary: var(--_brand-crystalizedviolet-700);
    --chart-tertiary: var(--_brand-crystalizedviolet-600);
    --chart-quaternary: var(--_error-500-primary);
    /*TODO temp colors until we update the design system*/
    --chart-quinary: #510077;
    --chart-senary: #7a0ebb;
    --chart-septenary: #a03ae9;
    --chart-octonary: #ca75ff;

    --chart-areaspline-primary: var(--_brand-crystalizedviolet-400);
    --chart-areaspline-secondary: #4ea7fc;
    --chart-areaspline-tertiary: var(--_brand-brightorange-500-primary);

    /* FOREGROUND */
    --foreground-primary: var(--_white);
    --foreground-primary_on-solid: var(--_grey-900);
    --foreground-secondary: var(--_grey-300);
    --foreground-secondary_hover: var(--_grey-200);
    --foreground-tertiary: var(--_grey-400);
    --foreground-tertiary_hover: var(--_grey-300);
    --foreground-quaternary: var(--_grey-400);
    --foreground-quaternary_hover: var(--_grey-300);
    --foreground-quinary: var(--_grey-500-primary);
    --foreground-quinary_hover: var(--_grey-400);
    --foreground-senary: var(--shadcn-custom-stacking-hover);
    --foreground-white: var(--_white);
    --foreground-disabled: var(--_grey-500-primary);
    --foreground-brand-primary: var(--_brand-crystalizedviolet-400);
    --foreground-brand-primary_hover: var(--_brand-crystalizedviolet-500-primary);
    --foreground-brand-secondary: var(--_brand-crystalizedviolet-300);
    --foreground-brand-secondary_hover: var(--_brand-crystalizedviolet-200);
    --foreground-error: var(--_error-400);
    --foreground-error_hover: var(--_error-300);
    --foreground-warning: var(--_warning-400);
    --foreground-success: var(--_success-400);

    /* BACKGROUND */
    --background-primary: var(--shadcn-background);
    --background-primary_hover: var(--shadcn-accent);
    --background-primary_alt: var(--shadcn-background);
    --background-primary_alt_hover: var(--shadcn-custom-stacking-hover);
    --background-primary-solid: var(--shadcn-background);
    --background-secondary: var(--shadcn-custom-stacking);
    --background-secondary_hover: var(--shadcn-custom-stacking-hover);
    --background-secondary_alt: var(--shadcn-custom-stacking);
    --background-secondary_alt_2: var(--shadcn-custom-stacking);

    --background-tertiary: var(--shadcn-custom-stacking);
    --background-tertiary_hover: var(--shadcn-custom-stacking-hover);
    --background-quaternary: var(--shadcn-custom-stacking);
    --background-active: var(--shadcn-custom-stacking);

    /* todo */
    --background-disabled: var(--shadcn-muted);
    --background-disabled_alt: var(--shadcn-muted);

    --background-overlay: rgba(0, 0, 0, 0.6);

    --background-error: var(--_error-500-primary);
    --background-error_alt: var(--_error-950);
    --background-error-solid: var(--_error-600);
    --background-error-solid_hover: var(--_error-500-primary);
    --background-brand-primary: var(--_brand-crystalizedviolet-400);
    --background-brand-primary_alt: var(--_brand-crystalizedviolet-950);
    --background-brand-primary-solid: var(--_brand-crystalizedviolet-500-primary);
    --background-brand-primary-solid_hover: var(--_brand-crystalizedviolet-600);
    --background-brand-secondary: var(--_brand-crystalizedviolet-950);
    --background-warning: var(--_warning-500-primary);
    --background-warning_alt: var(--_warning-950);
    --background-warning-solid: var(--_warning-600);
    --background-warning-solid_hover: var(--_warning-500-primary);
    --background-success: var(--_success-500-primary);
    --background-success_alt: var(--_success-950);
    --background-success-solid: var(--_success-600);
    --background-success-solid_hover: var(--_success-500-primary);

    /* EFFECTS */
    --effects-focusrings-brand-spaced: var(--_brand-crystalizedviolet-500-primary);
    --effects-focusrings-brand-glued: var(--_alpha-crystalizedviolet-30);
    --effects-focusrings-error-spaced: var(--_error-500-primary);
    --effects-focusrings-error-glued: var(--_alpha-error-30);
    --effects-shadow-xs: var(--_alpha-black-20);
    --effects-shadow-sm_1: var(--_alpha-black-30);
    --effects-shadow-sm_2: var(--_alpha-grey-10);
    --effects-shadow-md_1: var(--_alpha-black-20);
    --effects-shadow-md_2: var(--_alpha-black-10);
    --effects-shadow-lg_1: var(--_alpha-black-20);
    --effects-shadow-lg_2: var(--_alpha-black-5);
    --effects-shadow-xl_1: var(--_alpha-black-20);
    --effects-shadow-xl_2: var(--_alpha-black-10);

    /* UTILITY ALPHA WHITE */
    --utility-alpha-white-0: var(--_alpha-grey-0);
    --utility-alpha-white-5: var(--_alpha-grey-5);
    --utility-alpha-white-10: var(--_alpha-grey-10);
    --utility-alpha-white-20: var(--_alpha-grey-20);
    --utility-alpha-white-30: var(--_alpha-grey-30);
    --utility-alpha-white-40: var(--_alpha-grey-40);
    --utility-alpha-white-50: var(--_alpha-grey-50);
    --utility-alpha-white-60: var(--_alpha-grey-60);
    --utility-alpha-white-70: var(--_alpha-grey-70);
    --utility-alpha-white-80: var(--_alpha-grey-80);
    --utility-alpha-white-90: var(--_alpha-grey-90);
    --utility-alpha-white-100: var(--_alpha-grey-100);

    /* UTILITY ALPHA BLACK */
    --utility-alpha-black-0: var(--_alpha-white-0);
    --utility-alpha-black-5: var(--_alpha-white-5);
    --utility-alpha-black-10: var(--_alpha-white-10);
    --utility-alpha-black-20: var(--_alpha-white-20);
    --utility-alpha-black-30: var(--_alpha-white-30);
    --utility-alpha-black-40: var(--_alpha-white-40);
    --utility-alpha-black-50: var(--_alpha-white-50);
    --utility-alpha-black-60: var(--_alpha-white-60);
    --utility-alpha-black-70: var(--_alpha-white-70);
    --utility-alpha-black-80: var(--_alpha-white-80);
    --utility-alpha-black-90: var(--_alpha-white-90);
    --utility-alpha-black-100: var(--_alpha-white-100);

    /* UTILITY GREY */
    --utility-grey-50: var(--_grey-900);
    --utility-grey-100: var(--_grey-800);
    --utility-grey-200: var(--_grey-700);
    --utility-grey-300: var(--_grey-700);
    --utility-grey-400: var(--_grey-600);
    --utility-grey-500-primary: var(--_grey-500-primary);
    --utility-grey-600: var(--_grey-400);
    --utility-grey-700: var(--_grey-300);
    --utility-grey-800: var(--_grey-200);
    --utility-grey-900: var(--_grey-100);
    --utility-grey-950: var(--_grey-50);

    /* UTILITY BRIGHT ORANGE */
    --utility-brand-brightorange-50: var(--_brand-brightorange-950);
    --utility-brand-brightorange-100: var(--_brand-brightorange-900);
    --utility-brand-brightorange-200: var(--_brand-brightorange-800);
    --utility-brand-brightorange-300: var(--_brand-brightorange-700);
    --utility-brand-brightorange-400: var(--_brand-brightorange-600);
    --utility-brand-brightorange-500-primary: var(--_brand-brightorange-500-primary);
    --utility-brand-brightorange-600: var(--_brand-brightorange-400);
    --utility-brand-brightorange-700: var(--_brand-brightorange-300);
    --utility-brand-brightorange-800: var(--_brand-brightorange-200);
    --utility-brand-brightorange-900: var(--_brand-brightorange-100);
    --utility-brand-brightorange-950: var(--_brand-brightorange-50);

    /* UTILITY CRYSTALIZED VIOLET */
    --utility-brand-crystalizedviolet-50: var(--_brand-crystalizedviolet-950);
    --utility-brand-crystalizedviolet-100: var(--_brand-crystalizedviolet-900);
    --utility-brand-crystalizedviolet-200: var(--_brand-crystalizedviolet-800);
    --utility-brand-crystalizedviolet-300: var(--_brand-crystalizedviolet-700);
    --utility-brand-crystalizedviolet-400: var(--_brand-crystalizedviolet-600);
    --utility-brand-crystalizedviolet-500-primary: var(--_brand-crystalizedviolet-500-primary);
    --utility-brand-crystalizedviolet-600: var(--_brand-crystalizedviolet-400);
    --utility-brand-crystalizedviolet-700: var(--_brand-crystalizedviolet-300);
    --utility-brand-crystalizedviolet-800: var(--_brand-crystalizedviolet-200);
    --utility-brand-crystalizedviolet-900: var(--_brand-crystalizedviolet-100);
    --utility-brand-crystalizedviolet-950: var(--_brand-crystalizedviolet-50);

    /* UTILITY ELECTRIC ROYAL BLUE */
    --utility-brand-electricroyalblue-50: var(--_brand-electricroyalblue-950);
    --utility-brand-electricroyalblue-100: var(--_brand-electricroyalblue-900);
    --utility-brand-electricroyalblue-200: var(--_brand-electricroyalblue-800);
    --utility-brand-electricroyalblue-300: var(--_brand-electricroyalblue-700);
    --utility-brand-electricroyalblue-400: var(--_brand-electricroyalblue-600);
    --utility-brand-electricroyalblue-500-primary: var(--_brand-electricroyalblue-500-primary);
    --utility-brand-electricroyalblue-600: var(--_brand-electricroyalblue-400);
    --utility-brand-electricroyalblue-700: var(--_brand-electricroyalblue-300);
    --utility-brand-electricroyalblue-800: var(--_brand-electricroyalblue-200);
    --utility-brand-electricroyalblue-900: var(--_brand-electricroyalblue-100);
    --utility-brand-electricroyalblue-950: var(--_brand-electricroyalblue-50);

    /* UTILITY CYAN */
    --utility-brand-cyan-50: var(--_brand-cyan-950);
    --utility-brand-cyan-100: var(--_brand-cyan-900);
    --utility-brand-cyan-200: var(--_brand-cyan-800);
    --utility-brand-cyan-300: var(--_brand-cyan-700);
    --utility-brand-cyan-400: var(--_brand-cyan-600);
    --utility-brand-cyan-500-primary: var(--_brand-cyan-500-primary);
    --utility-brand-cyan-600: var(--_brand-cyan-400);
    --utility-brand-cyan-700: var(--_brand-cyan-300);
    --utility-brand-cyan-800: var(--_brand-cyan-200);
    --utility-brand-cyan-900: var(--_brand-cyan-100);
    --utility-brand-cyan-950: var(--_brand-cyan-50);

    /* UTILITY SECONDARY */
    --utility-secondary-blue-500: var(--_secondary-blue-500);
    --utility-secondary-yellow-500: var(--_secondary-yellow-500);
    --utility-secondary-orange-500: var(--_secondary-orange-500);
    --utility-secondary-green-500: var(--_secondary-green-500);
    --utility-secondary-pink-500: var(--_secondary-pink-500);

    /* UTILITY ERROR */
    --utility-error-50: var(--_error-950);
    --utility-error-100: var(--_error-900);
    --utility-error-200: var(--_error-800);
    --utility-error-300: var(--_error-700);
    --utility-error-400: var(--_error-600);
    --utility-error-500-primary: var(--_error-500-primary);
    --utility-error-600: var(--_error-400);
    --utility-error-700: var(--_error-300);
    --utility-error-800: var(--_error-200);
    --utility-error-900: var(--_error-100);
    --utility-error-950: var(--_error-50);

    /* UTILITY WARNING */
    --utility-warning-50: var(--_warning-950);
    --utility-warning-100: var(--_warning-900);
    --utility-warning-200: var(--_warning-800);
    --utility-warning-300: var(--_warning-700);
    --utility-warning-400: var(--_warning-600);
    --utility-warning-500-primary: var(--_warning-500-primary);
    --utility-warning-600: var(--_warning-400);
    --utility-warning-700: var(--_warning-300);
    --utility-warning-800: var(--_warning-200);
    --utility-warning-900: var(--_warning-100);
    --utility-warning-950: var(--_warning-50);

    /* UTILITY SUCCESS */
    --utility-success-50: var(--_success-950);
    --utility-success-100: var(--_success-900);
    --utility-success-200: var(--_success-800);
    --utility-success-300: var(--_success-700);
    --utility-success-400: var(--_success-600);
    --utility-success-500-primary: var(--_success-500-primary);
    --utility-success-600: var(--_success-400);
    --utility-success-700: var(--_success-300);
    --utility-success-800: var(--_success-200);
    --utility-success-900: var(--_success-100);
    --utility-success-950: var(--_success-50);

    /* UTILITY GRADIENT */
    --utility-gradient-glassneon-glass-neon-1: #232e41;
    --utility-gradient-glassneon-glass-neon-2: #232634;
    --utility-gradient-glassneon-glass-neon-3: #231d2f;
    --utility-gradient-glassneon-glass-neon-4: #231830;
    --utility-gradient-glassneon-glass-neon-5: #2a0d3b;
    --utility-gradient-glassneon-glass-neon-6: #1c0052;
    --utility-gradient-glassneon-glass-neon-7: #270073;

    --utility-gradient-app-bg-radial-1: var(--background-quaternary);
    --utility-gradient-app-bg-radial-2: rgba(13, 18, 28, 0);
    --utility-gradient-app-bg-linear-1-1: var(--utility-brand-crystalizedviolet-500-primary);
    --utility-gradient-app-bg-linear-1-2: var(--background-quaternary);
    --utility-gradient-app-bg-linear-2-1: #160d1c;
    --utility-gradient-app-bg-linear-2-2: #26014a;
    --utility-gradient-app-bg-linear-2-3: #250059;

    /* COMPONENTS BADGE */
    --components-badge-grey-backgroundoutline-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-grey-backgroundoutline-closexitem-bg_hover: var(--background-tertiary);
    --components-badge-grey-backgroundoutline-closexitem-fg: var(--foreground-quaternary);
    --components-badge-grey-backgroundoutline-closexitem-fg_hover: var(--foreground-quinary_hover);
    --components-badge-grey-backgroundoutline-bg: var(--background-secondary);
    --components-badge-grey-backgroundoutline-fg: var(--foreground-quaternary);
    --components-badge-grey-backgroundoutline-typo: var(--typography-tertiary);
    --components-badge-grey-backgroundoutline-border: var(--border-primary);
    --components-badge-grey-outline-fg: var(--foreground-quaternary);
    --components-badge-grey-outline-typo: var(--typography-tertiary);
    --components-badge-grey-outline-border: var(--utility-grey-400);
    --components-badge-grey-solid-typo: var(--typography-white);
    --components-badge-grey-solid-bg: var(--utility-grey-500-primary);
    --components-badge-grey-solid-fg: var(--utility-grey-800);
    --components-badge-grey-solid-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-grey-solid-closexitem-bg_hover: var(--utility-alpha-black-20);
    --components-badge-grey-solid-closexitem-fg: var(--utility-grey-800);
    --components-badge-grey-solid-closexitem-fg_hover: var(--foreground-white);
    --components-badge-brand-backgroundoutline-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-brand-backgroundoutline-bg: var(--utility-brand-crystalizedviolet-50);
    --components-badge-brand-backgroundoutline-fg: var(--utility-brand-crystalizedviolet-500-primary);
    --components-badge-brand-backgroundoutline-closexitem-bg_hover: var(--utility-brand-crystalizedviolet-100);
    --components-badge-brand-backgroundoutline-typo: var(--utility-brand-crystalizedviolet-700);
    --components-badge-brand-backgroundoutline-border: var(--utility-brand-crystalizedviolet-100);
    --components-badge-brand-backgroundoutline-closexitem-fg: var(--utility-brand-crystalizedviolet-600);
    --components-badge-brand-backgroundoutline-closexitem-fg_hover: var(--utility-brand-crystalizedviolet-600);
    --components-badge-brand-outline-fg: var(--utility-brand-crystalizedviolet-500-primary);
    --components-badge-brand-solid-typo: var(--typography-white);
    --components-badge-brand-solid-fg: var(--utility-brand-crystalizedviolet-900);
    --components-badge-brand-solid-bg: var(--utility-brand-crystalizedviolet-400);
    --components-badge-brand-solid-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-brand-solid-closexitem-bg_hover: var(--utility-alpha-black-20);
    --components-badge-brand-solid-closexitem-fg: var(--utility-brand-crystalizedviolet-900);
    --components-badge-brand-solid-closexitem-fg_hover: var(--foreground-white);
    --components-badge-brand-outline-typo: var(--utility-brand-crystalizedviolet-700);
    --components-badge-brand-outline-border: var(--utility-brand-crystalizedviolet-100);
    --components-badge-error-backgroundoutline-bg: var(--utility-error-50);
    --components-badge-error-backgroundoutline-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-error-backgroundoutline-closexitem-bg_hover: var(--utility-error-100);
    --components-badge-error-backgroundoutline-fg: var(--utility-error-500-primary);
    --components-badge-error-backgroundoutline-typo: var(--utility-error-600);
    --components-badge-error-backgroundoutline-border: var(--utility-error-100);
    --components-badge-error-backgroundoutline-closexitem-fg: var(--utility-error-500-primary);
    --components-badge-error-backgroundoutline-closexitem-fg_hover: var(--utility-error-600);
    --components-badge-error-outline-typo: var(--utility-error-600);
    --components-badge-error-outline-fg: var(--utility-error-500-primary);
    --components-badge-error-outline-border: var(--utility-error-200);
    --components-badge-error-solid-typo: var(--typography-white);
    --components-badge-error-solid-fg: var(--utility-error-800);
    --components-badge-error-solid-bg: var(--utility-error-500-primary);
    --components-badge-error-solid-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-error-solid-closexitem-bg_hover: var(--utility-alpha-black-20);
    --components-badge-error-solid-closexitem-fg: var(--utility-error-800);
    --components-badge-error-solid-closexitem-fg_hover: var(--foreground-white);
    --components-badge-warning-backgroundoutline-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-warning-backgroundoutline-bg: var(--utility-warning-50);
    --components-badge-warning-outline-fg: var(--utility-warning-400);
    --components-badge-warning-solid-typo: var(--typography-white);
    --components-badge-warning-solid-fg: var(--utility-warning-800);
    --components-badge-warning-solid-bg: var(--utility-warning-400);
    --components-badge-warning-solid-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-warning-solid-closexitem-bg_hover: var(--utility-alpha-black-20);
    --components-badge-warning-solid-closexitem-fg: var(--utility-error-800);
    --components-badge-warning-solid-closexitem-fg_hover: var(--foreground-white);
    --components-badge-warning-outline-typo: var(--utility-warning-500-primary);
    --components-badge-warning-outline-border: var(--utility-warning-200);
    --components-badge-warning-backgroundoutline-closexitem-bg_hover: var(--utility-warning-100);
    --components-badge-warning-backgroundoutline-fg: var(--utility-warning-400);
    --components-badge-warning-backgroundoutline-typo: var(--utility-warning-500-primary);
    --components-badge-warning-backgroundoutline-border: var(--utility-warning-100);
    --components-badge-warning-backgroundoutline-closexitem-fg: var(--utility-warning-400);
    --components-badge-warning-backgroundoutline-closexitem-fg_hover: var(--utility-warning-500-primary);
    --components-badge-success-backgroundoutline-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-success-backgroundoutline-bg: var(--utility-success-50);
    --components-badge-success-backgroundoutline-closexitem-bg_hover: var(--utility-success-100);
    --components-badge-success-backgroundoutline-fg: var(--utility-success-400);
    --components-badge-success-backgroundoutline-typo: var(--utility-success-500-primary);
    --components-badge-success-backgroundoutline-border: var(--utility-success-100);
    --components-badge-success-outline-fg: var(--utility-success-400);
    --components-badge-success-backgroundoutline-closexitem-fg: var(--utility-success-400);
    --components-badge-success-solid-typo: var(--typography-white);
    --components-badge-success-solid-fg: var(--utility-success-800);
    --components-badge-success-solid-bg: var(--utility-success-400);
    --components-badge-success-solid-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-success-solid-closexitem-bg_hover: var(--utility-alpha-black-20);
    --components-badge-success-solid-closexitem-fg: var(--utility-success-800);
    --components-badge-success-solid-closexitem-fg_hover: var(--foreground-white);
    --components-badge-success-backgroundoutline-closexitem-fg_hover: var(--utility-success-500-primary);
    --components-badge-success-outline-typo: var(--utility-success-500-primary);
    --components-badge-success-outline-border: var(--utility-success-200);
    --components-badge-inverse-solid-typo: var(--typography-primary_on-solid);
    --components-badge-inverse-solid-fg: var(--utility-grey-400);
    --components-badge-inverse-solid-bg: var(--background-primary-solid);
    --components-badge-inverse-solid-closexitem-bg: var(--utility-alpha-white-0);
    --components-badge-inverse-solid-closexitem-bg_hover: var(--_alpha-grey-10);
    --components-badge-inverse-solid-closexitem-fg: var(--utility-grey-400);
    --components-badge-inverse-solid-closexitem-fg_hover: var(--utility-grey-50);

    /* COMPONENTS TEXT BUTTONS */
    --components-textbutton-primary-fg_hover: var(--typography-brand-secondary_alt_hover);
    --components-textbutton-primary-fg: var(--typography-brand-secondary_alt);
    --components-textbutton-secondary-fg_hover: var(--typography-secondary_hover);
    --components-textbutton-secondary-fg: var(--typography-secondary);

    /* COMPONENTS BUTTONS */
    --components-buttons-button-primary-bg: var(--shadcn-primary);
    --components-buttons-button-primary-bg_hover: var(--shadcn-primary);
    --components-buttons-button-primary-fg: var(--shadcn-primary-foreground);

    --components-buttons-button-secondary-bg: var(--shadcn-background);
    --components-buttons-button-secondary-bg_hover: var(--shadcn-background);
    --components-buttons-button-secondary-fg: var(--shadcn-foreground);
    --components-buttons-button-secondary-fg_hover: var(--shadcn-foreground);
    --components-buttons-button-secondary-border: var(--shadcn-input);

    --components-buttons-button-tertiary-bg: var(--utility-alpha-white-0);
    --components-buttons-button-tertiary-bg_hover: var(--background-primary_alt_hover);
    --components-buttons-button-tertiary-fg: var(--typography-secondary);
    --components-buttons-button-tertiary-fg_hover: var(--typography-secondary_hover);

    --components-buttons-destructive-primary-bg: var(--background-error-solid);
    --components-buttons-destructive-primary-bg_hover: var(--background-error-solid_hover);
    --components-buttons-destructive-primary-fg: var(--typography-primary_on-brand);
    --components-buttons-destructive-secondary-bg: var(--background-primary_alt);
    --components-buttons-destructive-secondary-bg_hover: var(--background-error_alt);
    --components-buttons-destructive-secondary-fg: var(--typography-error);
    --components-buttons-destructive-secondary-fg_hover: var(--typography-error_hover);
    --components-buttons-destructive-secondary-border: var(--border-error-secondary);
    --components-buttons-destructive-tertiary-bg: var(--utility-alpha-white-0);
    --components-buttons-destructive-tertiary-bg_hover: var(--background-error_alt);
    --components-buttons-destructive-tertiary-fg: var(--typography-error);
    --components-buttons-destructive-tertiary-fg_hover: var(--typography-error_hover);

    /* COMPONENTS ACCORDION */
    --components-accordion-open-bg: var(--shadcn-background);
    --components-accordion-open-bg_hover: var(--shadcn-accent);
    --components-accordion-open-border: var(--shadcn-border);

    /* COMPONENTS TOOLTIP */
    --components-tooltip-title: var(--typography-primary_on-solid);
    --components-tooltip-typo: var(--_grey-500-primary);

    /* COMPONENTS SWITCH */
    --components-switch-pill-disabled: var(--utility-alpha-black-30);

    /* COMPONENTS CARD */
    --components-card-border_1: var(--_grey-700);
    --components-card-border_2: var(--_grey-950);

    /* COMPONENTS AVATAR */
    --components-avatar-bg: var(--background-tertiary);
    --components-avatar-fg: var(--foreground-quaternary);
    --components-avatar-typo: var(--typography-quaternary);
    --components-avatar-border: var(--border-primary_alt);
    --components-avatar-contrast-border: var(--utility-alpha-black-10);
    --components-avatar-avatargroup-separator-border: var(--background-primary_alt);

    /* -- */
    --scrollbar-thumb: var(--foreground-senary);
    --scrollbar-track: transparent;

    /* --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%; 
    --sidebar-background: 240 5.9% 10%; 
    --sidebar-background: 20 5.9% 100%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    */
  }

  @layer components {
    .app-gradient {
      position: relative;
      background: var(--shadcn-background);
    }

    .purple-halo-gradient {
      position: relative;
      background: var(--shadcn-background);
    }

    .card-hover-gradient {
      background: radial-gradient(54.31% 54.31% at 46.17% 104.31%, #7200a6 22%, rgba(114, 0, 166, 0) 100%),
        radial-gradient(33.14% 35.91% at 79.7% 35.51%, #0128a4 22%, rgba(1, 40, 164, 0) 100%),
        radial-gradient(47.42% 51.38% at 93.08% 93.35%, #920144 22%, rgba(146, 1, 68, 0) 100%),
        radial-gradient(33.81% 36.63% at 11.84% 68.78%, #017292 22%, rgba(1, 114, 146, 0) 100%),
        radial-gradient(32.53% 32.53% at 19.85% 27.43%, #92017e 22%, rgba(146, 1, 126, 0) 100%);
    }

    .card-hover-gradient-solid {
      background: conic-gradient(
        from 225.01deg at 50% 50%,
        #9a0688 0deg,
        #1a1d2f 63deg,
        #6413a6 126deg,
        #1a1d2f 201.6deg,
        #0029b0 297deg,
        #9a0688 360deg
      );
    }

    .shine-text {
      color: transparent;
      background-clip: text !important;
      animation: shine 3s linear infinite;
      background:
        radial-gradient(circle at center, var(--typography-primary), transparent) -200% 50% / 200% 100% no-repeat,
        var(--typography-quaternary);
    }

    .full-width-popover-content {
      width: var(--radix-popover-trigger-width) !important;
      max-height: var(--radix-popover-content-available-height) !important;
    }

    [class^="PostHogSurvey"] {
      pointer-events: all !important;
    }


    @keyframes shine {
      0% {
        background-position: 200% 0;
      }
      100% {
        background-position: -200% 0;
      }
    }
  }

  /* DOM STYLES */

  html {
    font-size: 16px;
  }

  /* @media (max-width: 1441px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 1280px) {
    html {
      font-size: 13px;
    }
  } */

  .custom-scroll-bar {
    --scrollbar-thumb: var(--foreground-senary);
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
